
<div class="container">

  <h1>Book List
    <a [routerLink]="['/book-create']" class="btn btn-default btn-md">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>

  <br> <br>
  <input class="form-control form-control-md" type="text" [(ngModel)]="searchText" placeholder="search books by Title/Author/ISBN">
  <br>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th>&nbsp; &nbsp; &nbsp;Title  <span class="glyphicon glyphicon-book"></span></th>
        <th>Author <span class="glyphicon glyphicon-user"></span></th>
        <th   (click)='sortByPrice()'>Price(INR) <span class="glyphicon glyphicon-sort"></span></th>
        <th>&nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-eye-open"></span></th>
        <th> <span class="glyphicon glyphicon-edit"></span></th>
        <th>&nbsp; &nbsp; &nbsp; <span  class="glyphicon glyphicon-remove"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books | filterTitle: searchText ">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>&nbsp; &nbsp; &nbsp;{{ book.price }}</td>
        <td><a [routerLink]="['/book-details', book._id]">Show Details</a> </td>
        <td><a [routerLink]="['/book-edit', book._id]" >Edit</a></td>
        <td>  <button class="btn btn-danger" type="button" (click)="deleteBook(book._id)">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>