<div class="container">
  <h1>{{ book.title }}</h1>
  <dl class="list">
    <dt>ISBN</dt>
    <dd>&nbsp;&nbsp; {{ book.isbn }}</dd>
    <dt>Title</dt>
    <dd>&nbsp;&nbsp; {{ book.title }}</dd>
    <dt>Author</dt>
    <dd>&nbsp;&nbsp; {{ book.author }}</dd>
    <dt>Publisher</dt>
    <dd>&nbsp;&nbsp; {{ book.publisher }}</dd>
    <dt>Price</dt>
    <dd>&nbsp;&nbsp; {{ book.price }}</dd>
    <dt>Update Date</dt>
    <dd>&nbsp;&nbsp; {{ book.updated_date }}</dd>

    <div class="row">
      <div class="col-md-12">
        <a [routerLink]="['/book-edit', book._id]" class="btn btn-success">Edit</a>
        <span>
            &nbsp; &nbsp; 
          <a [routerLink]="['/books']" class="btn btn-success">Book List</a>
        </span>
      </div> 
      
    </div>
    
  </dl>
</div>